/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=c2N5B3J1R1kcglL4Zvwayr9fMh0lqaTkldpb8tMwgCtWp7l6uhfIkcglL9YP2aevqiQj0m+bPk8wt3aPWp8RM5bPjgdjcb */

/* As hex codes */

.color-primary-0 {
  color: #5d8e58;
} /* Main Primary color */
.color-primary-1 {
  color: #b1ceae;
}
.color-primary-2 {
  color: #7cb177;
}
.color-primary-3 {
  color: #3d6f38;
}
.color-primary-4 {
  color: #1c4717;
}

.color-secondary-1-0 {
  color: #4c5974;
} /* Main Secondary color (1) */
.color-secondary-1-1 {
  color: #a1b6df;
}
.color-secondary-1-2 {
  color: #7787a7;
}
.color-secondary-1-3 {
  color: #2f4165;
}
.color-secondary-1-4 {
  color: #16243f;
}

.color-secondary-2-0 {
  color: #e8e7aa;
} /* Main Secondary color (2) */
.color-secondary-2-1 {
  color: #fffea9;
}
.color-secondary-2-2 {
  color: #fffeb9;
}
.color-secondary-2-3 {
  color: #999961;
}
.color-secondary-2-4 {
  color: #616039;
}

.color-complement-0 {
  color: #c54249;
} /* Main Complement color */
.color-complement-1 {
  color: #fdbabd;
}
.color-complement-2 {
  color: #ea7177;
}
.color-complement-3 {
  color: #a5242a;
}
.color-complement-4 {
  color: #7b070c;
}

/* As RGBa codes */

.rgba-primary-0 {
  color: rgba(93, 142, 88, 1);
} /* Main Primary color */
.rgba-primary-1 {
  color: rgba(177, 206, 174, 1);
}
.rgba-primary-2 {
  color: rgba(124, 177, 119, 1);
}
.rgba-primary-3 {
  color: rgba(61, 111, 56, 1);
}
.rgba-primary-4 {
  color: rgba(28, 71, 23, 1);
}

.rgba-secondary-1-0 {
  color: rgba(76, 89, 116, 1);
} /* Main Secondary color (1) */
.rgba-secondary-1-1 {
  color: rgba(161, 182, 223, 1);
}
.rgba-secondary-1-2 {
  color: rgba(119, 135, 167, 1);
}
.rgba-secondary-1-3 {
  color: rgba(47, 65, 101, 1);
}
.rgba-secondary-1-4 {
  color: rgba(22, 36, 63, 1);
}

.rgba-secondary-2-0 {
  color: rgba(232, 231, 170, 1);
} /* Main Secondary color (2) */
.rgba-secondary-2-1 {
  color: rgba(255, 254, 169, 1);
}
.rgba-secondary-2-2 {
  color: rgba(255, 254, 185, 1);
}
.rgba-secondary-2-3 {
  color: rgba(153, 153, 97, 1);
}
.rgba-secondary-2-4 {
  color: rgba(97, 96, 57, 1);
}

.rgba-complement-0 {
  color: rgba(197, 66, 73, 1);
} /* Main Complement color */
.rgba-complement-1 {
  color: rgba(253, 186, 189, 1);
}
.rgba-complement-2 {
  color: rgba(234, 113, 119, 1);
}
.rgba-complement-3 {
  color: rgba(165, 36, 42, 1);
}
.rgba-complement-4 {
  color: rgba(123, 7, 12, 1);
}

